* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

img {
  width: 100%;
  display: block;
}

p {
  color: #444;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  padding: 2em;
}

header .logo {
  text-transform: uppercase;
  font-size: 1.5em;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  flex-direction: row;
}

.content_text {
  width: 45%;
  padding: 3em;
  margin-left: 4em;
}

.content_image {
  width: 45%;
}

.content_text h1 {
  margin: 1em 0;
  max-width: 400px;
  font-size: 2.5em;
}

.content_text p {
  word-spacing: 0.3em;
  font-size: 1.4em;
  margin: 1em 0;
  max-width: 300px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
}

.content_text a {
  text-decoration: none;
  background-color: #333;
  color: #ffffff;
  padding: 1em 3em;
  display: inline-block;
  margin: 1em 0;
}

.btn:hover {
  background-color: #000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}

/* responsive styles */

@media (max-width: 800px) {
  header {
    padding: 1em;
  }
  .content {
    flex-direction: column;
  }
  .content_text {
    width: 100%;
    padding: 1em;
    margin-left: 0;
  }

  .content_image {
    width: 100%;
  }

  .content_text h1 {
    max-width: 100%;
    font-size: 2.5em;
  }

  .content_text p {
    font-size: 1.2em;
    max-width: 100%;
  }

  .content_text a {
    padding: 1em 2em;
  }
  footer {
    position: relative;
    bottom: 0;
  }
}
